<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title> Vue_off line .js </title>
</head>

<body>
<!--本文-->
<div id="app">
    <fieldset>
	<legend>methods of payment </legend>
	credit card:
	<input type="radio" name="pay" value="credit" v-model="pay" />
	bank number:
	<input type="radio" name="pay" value="bank" v-model="pay" />
	<hr />
	<div v-if="pay === 'credit'">
	    credit card number:
	    <input type="text" key="credit" />
	</div>
	<div v-if="pay === 'bank'">
	    bank number:
	    <input type="text" key="bank" />
	</div>

    </fieldset>
</div>

<script src="lib/vue.min.js"></script>
<script src="js/if_key.js"></script>
</body>

</html>
