<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title> Vue_off line .js </title>
</head>

<body>
<!--本文-->
<div id="app">
    <form>
	<label for="dog">dog</label>
	<input type="radio" id="dog" value="dog" v-model="pet" />
	<br />
	<label for="cat">cat</label>
	<input type="radio" id="cat" value="cat" v-model="pet" />
	<br />
	<label for="other">other</label>
	<input type="radio" id="other" value="other" v-model="pet" />
    </form>
<p> pet: {{ pet }}</p>
</div>

<script src="lib/vue.min.js"></script>
<script src="js/model_radio.js"></script>
</body>

</html>
